@use '../abstracts/helpers';

// ------------------------------------ page container styles ------------------------------------ \\
.page-container {
    &__with-sidebar {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 100%;
        padding: 0 helpers.$space-smed;
        column-gap: 3rem;
        row-gap: helpers.$space-unit;
        justify-self: center;

        @media (min-width: 768px) {
            flex-direction: row;
            width: 1200px;
            max-width: 90%;
        }
    }

    &__single-column {
        display: flex;
        flex-direction: column;
        width: 860px;
        max-width: 100%;
        justify-self: center;
        row-gap: helpers.$space-lg;
        padding: 0 helpers.$space-smed;

        @media (min-width: 768px) {
            max-width: 90%;
        }

        @media (min-width: 1025px) {
            max-width: 70%;
        }
    }
}

.content-container {
    width: 100%;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    row-gap: helpers.$space-lg;
    width: 50%;
}

// ------------------------------------ colored container styles ------------------------------------ \\

.colored-container {
    @include helpers.coloredContainerStyle(helpers.$neon-200, helpers.$neon-500, helpers.$neon-600, helpers.$neon-700, helpers.$neon-900);

    .blog &,
    .home & {
        h2 {
            border-bottom: none;
        }
    }
}

.colored-container:nth-child(5n + 2) {
    @include helpers.coloredContainerStyle(helpers.$pink-200, helpers.$pink-500, helpers.$pink-600, helpers.$pink-700, helpers.$pink-900);
}

.colored-container:nth-child(5n + 3) {
    @include helpers.coloredContainerStyle(helpers.$teal-200, helpers.$teal-500, helpers.$teal-600, helpers.$teal-700, helpers.$teal-900);
}

.colored-container:nth-child(5n + 4) {
    @include helpers.coloredContainerStyle(helpers.$orange-200, helpers.$orange-500, helpers.$orange-600, helpers.$orange-700, helpers.$orange-900);
}

.colored-container:nth-child(5n + 5) {
    @include helpers.coloredContainerStyle(helpers.$purple-200, helpers.$purple-500, helpers.$purple-600, helpers.$purple-700, helpers.$purple-900);
}